<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Мій кабінет</title>
     <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/dashboard">Головна</a></li>
                <li><a href="/settings">Налаштування</a></li>
                <li><a href="/logout">Вийти</a></li>
            </ul>
        </nav>
    </header>
    <div class="card">
        <h1>Привіт, {{.Username}}!</h1>
        <p>Вітаю в твоєму кабінеті.</p>
        <a href="/logout">Вийти</a>
    </div>
    <div class="card">
        <button>Add new Project</button>
    </div>
    {{range .Projects}}
    <div class="card">
        <h2>{{.Name}}</h2>
        <p>{{.Description}}</p>
    </div>
   {{end}}
   
</body>
</html>
