<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Мій кабінет</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <div class="logo">

        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/dashboard">Головна</a></li>
                <li><a href="/settings">Налаштування</a></li>
                <li><a href="/logout">Вийти</a></li>
                <li>
                    <a href="https://github.com/login/oauth/authorize?scope=repo&client_id={{.OAuthInfo.ClientID}}"
                        class="outline-btn">Login via GitHub</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="card welcome-card">
        <h1>Привіт, {{.Username}}!</h1>
        <p>Вітаю в твоєму кабінеті.</p>
        <a href="/logout">Вийти</a>
    </div>
    <div class="card">
        <div id="create-project-form">
            <form method="POST" action="/create-project">
                <input type="text" name="name" placeholder="Project name" required>
                <input type="text" name="description" placeholder="Project description"></textarea>
                <button type="submit">Create</button>
            </form>
        </div>
        <button id="create-project-button" onclick="toggleForm()">Create new Project</button>
        <button id="github-repo-btn" onclick="showGitHubRepos()">Project from GitHub repo</button>
        <button id="close-github-repo-btn" style="display:none;" onclick="closeRepos()">Close</button>
        <div id="github-repo-list" style="display:none;"></div>

    </div>
    {{range .Projects}}
    <div class="card" id="project-{{.ProjectID}}" onclick="loadProject('{{ .ProjectID }}')">
        <h2>{{.Name}}</h2>
        <p>{{.Description}}</p>
        <p>ID: {{.ProjectID}}</p>
        <button onclick="event.stopPropagation(); deleteProject('{{ .ProjectID }}')">🗑 Видалити</button>
    </div>
    {{end}}

</body>

<script>
    function toggleForm() {
        var form = document.getElementById("create-project-form");
        var button = document.getElementById("create-project-button");
        button.textContent = (form.classList.contains("show")) ? "Create new Project" : "Cancel";
        button.style.backgroundColor = (form.classList.contains("show")) ? "#4CAF50" : "#f44336";
        form.classList.toggle("show");
    }
    function deleteProject(projectId) {
        var projectCard = document.getElementById("project-" + projectId);
        if (confirm("Are you sure you want to delete this project?")) {
            fetch("/delete-project/" + projectId, {
                method: "DELETE"
            }).then(response => {
                if (response.ok) {
                    projectCard.remove();
                } else {
                    alert("Failed to delete project.");
                }
            });
        }
    }
    function loadProject(projectId) {
        window.location.href = "/projects/" + projectId;
    }
    async function showGitHubRepos() {
        const close_button = document.getElementById("close-github-repo-btn");
        close_button.style.display = "inline-block";
        close_button.style.backgroundColor = "#f44336";

        const listDiv = document.getElementById("github-repo-list");
        listDiv.innerHTML = "Loading...";
        listDiv.style.display = "block";
        const resp = await fetch("/user/repos");
        if (!resp.ok) {
            listDiv.innerHTML = "Failed to load repositories.";
            return;
        }
        const repos = await resp.json();
        listDiv.innerHTML = "<ul>" + repos.map(r => `<li>${r.full_name}</li>`).join("") + "</ul>";
    }
    function closeRepos(){
        const listDiv = document.getElementById("github-repo-list");
        listDiv.style.display = "none";
        const close_button = document.getElementById("close-github-repo-btn");
        close_button.style.display = "none";
    }
</script>

</html>