<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="card">
        <h1>Welcome</h1>
        <form method="POST">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" placeholder="Enter your login">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">
            <button type="submit">Login</button>
            <a href="/register"><button type="button" class="register">Register</button></a>
        </form>
    </div>
</body>

</html>